@using DashBored.PluginApi
@inherits PluginComponent<Todo>

<div class="todo">
    <h4 class="mb-3">@Model.Title</h4>

	@if(Model.GraphError == DashBored.MicrosoftGraph.GraphError.NeedsLogin)
	{
		<div class="alert alert-warning error-message" role="alert">
            <p>No account signed in.</p>
			<button type="button" class="btn btn-primary btn-lg" @onclick="@(e => Model.Login())">Sign in</button>
		</div>
	}
	else
	{
		<ul class="list-group list-group-borderless">
            @lock(Model.TodoItems)
            {
                foreach(var item in Model.TodoItems)
                {
                    var guid = new Guid().ToString().Replace("-", "");

                    <li class="list-group-item px-0">
                        <div class="form-check ">
                            <input id="@guid" class="form-check-input" type="checkbox">
                            <label for="@guid" class="form-check-label">
                                @item
                            </label>
                        </div>
                    </li>
                }
            }
        </ul>
	}
</div>
