@using DashBored.PluginApi
@inherits PluginComponent<Portfolio>


<div class="calendar flex-fill">
	@if(Model.Error != null)
	{
		<div class="alert alert-warning error-message" role="alert">
            <p>@Model.Error</p>
		</div>
	}
	else
	{
		<table class="table table-striped tabulator">	
			@foreach(var stock in Model.GetStockData())
			{
				<tr>
					<td>
						@if(!string.IsNullOrWhiteSpace(stock.LogoId))
						{
							var logoPath = $"https://s3-symbol-logo.tradingview.com/{stock.LogoId}.svg";
							<img class="rounded-circle" src="@logoPath"/>
						}
					</td>
					<td>@stock.ShortName</td>
					<td>
						@if(stock.ChangePercentage.HasValue)
						{
							if(stock.ChangePercentage.Value >= 0)
							{
								<span class="change-pos">@stock.ChangePercentage.Value.ToString("0.00")%</span>
							}
							else
							{
								<span class="change-neg">@Math.Abs(stock.ChangePercentage.Value).ToString("0.00")%</span>
							}
						}
						else
						{
							<span class="change-pos">-</span>
						}
					</td>
					<td>
						@if(stock.ExtHoursChangePercentage.HasValue)
						{
							if(stock.ExtHoursChangePercentage.Value >= 0)
							{
								<span class="ext-change-pos">@stock.ExtHoursChangePercentage.Value.ToString("0.00")%</span>
							}
							else
							{
								<span class="ext-change-neg">@Math.Abs(stock.ExtHoursChangePercentage.Value).ToString("0.00")%</span>
							}
						}
					</td>
				</tr>
			}
		</table>

		<p>Gains:</p>
		<table class="table table-striped tabulator">	
			@foreach(var gain in Model.GetGains())
			{
				<tr>
					<td>@gain.Symbol</td>
					<td>
						@gain.Date.ToString("yyyy-MM-dd")
					</td>
					<td>
						@gain.Value.ToString("0.00") @gain.Currency
					</td>
				</tr>
			}
		</table>

		<div class="update-indicator">
			<span>@Model.UpdatesThisPeriod</span>
		</div>
	}
</div>