@using DashBored.Host.Data
@inherits LayoutComponentBase

@inject PageService Pages

<PageTitle>Home</PageTitle>

<div class="dashboard-container">
	@foreach(var page in Pages.Pages)
	{
		foreach(var tile in page.Tiles)
		{
			var gridArea = $"grid-area: {tile.Y}/{tile.X}/{tile.Y + tile.Height - 1}/{tile.X + tile.Width - 1}";

			//var parameters = tile.PluginInstance.Parameters;
			var parameters = new Dictionary<string, object>()
			{
				{ "Model", tile.PluginInstance },
			};

			<Card Style="@gridArea" CardStyle="@tile.CardStyle">
				<CascadingValue Value="@tile.PluginInstance" Name="Model">
					<DynamicComponent Type="@tile.RazorType" Parameters="@parameters" />
				</CascadingValue>
			</Card>
		}
	}
</div>

@code
{
	
}